<div
  id="playlist-container"
  class="relative transition-all duration-1000 bg-green-600"
>
  <!-- <PageHeader /> -->

  <div class="relative z-10 px-6 pt-10">
    <greeting></greeting>
    <div class="flex flex-wrap mt-6 justify-evenly gap-2">
        @for (item of playlist; track $index) {
            <playlist-item-card [playlistItem]=item></playlist-item-card>
        }
    </div>

    <div
      class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-[1]"
    >
    </div>
  </div>
</div>