<div class="flex flex-row justify-between w-full px-1 z-50">
    <div class="w-[200px]">
        <current-song></current-song>
    </div>

    <div class="grid place-content-center gap-y-6 flex-1">
        <div class="flex justify-center flex-col items-center">
            <button class="bg-white rounded-full p-2 disabled:opacity-75" (click)="play()" [disabled]="!song">
                @if(playerService.isPlaying) {
                    <pause-icon></pause-icon>
                } @else {
                    <play-icon></play-icon>
                }
            </button>
            <div class="flex items-center gap-x-3 text-xs pt-2">
                <span class="opacity-50 w-12 text-right">{{ formatTime(currentTime) }}</span>
                <input
                    type="range"
                    [value]="currentTime"
                    [max]="duration"
                    [min]="0"
                    [disabled]="!song"
                    (input)="onPlayerChange($event)"
                    class="w-[500px]"
                />
                <span class="opacity-50 w-12">
                  {{ duration ? formatTime(duration) : '0:00' }}
                </span>
              </div>
            <audio #Audio (timeupdate)="onChangeAudio()"></audio>
        </div>

    </div>

    <div class="w-[200px] grid place-content-center">
        <volume-control></volume-control>
    </div>
</div>

